@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,700;1,400&family=Montserrat:wght@400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import "app.module.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --black: #000;

  --loader-1: #ffffff;
  --loader-2: #f7f7f7;
  --loader-border: 1px solid #e8e8e895;

  --white-05: rgba(255, 255, 255, 0.5);

  --color-1: #21293c;
  --color-2: #21293c;
  --color-3: #4b587c;
  --color-4: #f2f2f2;
  --color-5: #667190;
  --placeholder-color: #8b9ac3;

  --naranja: #f64900;
  --rojo: #f00;

  --gris-1: #f5f8ff;
  --gris-2: #e6e6e6;
  --gris-3: #999;
  --gris-4: #666;
  --gris-5: #333;

  --azul: #2176ff;
  --verde: rgb(0, 141, 9);

  --border: 1px solid #d9e1ec;

  --shadow: 0 0 1px 1px rgb(33 41 63 / 10%);

  --transition-3s: all 0.3s ease;
  --transition-5s: all 0.5s ease;

  --font-1: "Libre Baskerville", serif;
  --font-2: "Montserrat", sans-serif;
  --font-3: "Montserrat", sans-serif;

  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
}
body {
  font-family: "Montserrat", sans-serif;
}
h1,
h2 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}
h3 {
  font-family: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
/* img {
  max-width: 100%;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
